.inicio-images-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}
.katharsis-img {
    width: 17rem;
    max-width: 100%;
    box-shadow: 2px 2px 7px grey;
}